servletresolver.useDefaultWorkspace=B"false"
servletresolver.useRequestWorkspace=B"false"
servletresolver.scriptUser=""
servletresolver.cacheSize=I"200"
servletresolver.defaultExtensions=["html"]
servletresolver.paths=["/bin/","/libs/","/apps/","/system/","/index.servlet","/login.servlet","/services/","/aetna/aem/services/"]
servletresolver.servletRoot="0"
servletresolver.defaultScriptWorkspace=""
