.leftpadding.level3{
	margin-left: -18px;
	margin-top:4px;
}

.leftpadding.level4{
	margin-left: -18px;
	margin-top:4px;
}

.assetshare .left-predicates .optionspredicatebox .x-form-check-wrap{
	height: auto;
	margin-bottom: 2px;
}

.x-panel-tbar.x-panel-tbar-noheader.x-panel-tbar-noborder{
	margin-top:3px;
	
}